@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Allison";
    src: url("../src/app/assets/fonts/Allison-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../src/app/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../src/app/assets/fonts/RobotoSlab-Bold.ttf");
}

@layer base {
    h1 {
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
    }

    h2 { 
        @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
    }

    p {
        @apply text-sm sm:text-base md:text-lg;
    }
}

@layer components {
    .pane.active {
        @apply grow-[10] max-w-full;
      }
      .pane.active .background {
        @apply scale-125;
      }
      @media (min-width: 640px) {
        .pane.active .label {
          @apply translate-x-2;
        }
      }
      .pane.active .label .content > * {
        @apply opacity-100 translate-x-0;
      }
      .pane.active .shadow {
        @apply opacity-75 translate-y-0;
      }
}

div {
    scroll-margin-top: 6rem;
}