@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Allison";
    src: url("../src/app/assets/fonts/Allison-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../src/app/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../src/app/assets/fonts/RobotoSlab-Bold.ttf");
}