@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Allison";
    src: url("../src/app/assets/fonts/Allison-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../src/app/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../src/app/assets/fonts/RobotoSlab-Bold.ttf");
}

/* #photo_gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
} */

/* @media screen and (min-width: 768px) {
    #photo_gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    #photo_gallery {
        grid-template-columns: repeat(3, 1fr);
    }
} */

/* #photo_gallery {
    grid-template-columns: repeat(12, 1fr);
} */

#photo_gallery a img {
    transition: all .2s ease-in;
    filter: grayscale(100%);
}

#photo_gallery a:hover img {
    filter: grayscale(0);
}